@import url('https://fonts.cdnfonts.com/css/bankgothic-md-bt');
@import '../font.css';
body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}
.bgSmoke {
  background-color: whitesmoke;
}
.navbar {
  height: 250px;
  background-color: whitesmoke;
}
.logo {
  width: 60%;
}
.sloganAr {
  font-size: 3.4rem;
  font-family: 'Wahran-Light';
  font-weight: bolder;
}
.sloganEn {
  border-top: 2px black solid;
  font-size: 1.2rem;
  font-family: 'BankGothic Md BT', sans-serif;
  font-family: 'Bank Gothic Light', sans-serif;
  font-family: 'BankGothic', sans-serif;
}
.searchImagesWrap {
  border-radius: 2rem;
}
.searchImages {
  filter: brightness(0.85);
}
.searchWrap {
  height: 25%;
}
.searchInput {
  outline: none;
}
.panels {
  height: 60px;
  border-top: 1.5px solid black;
  border-bottom: 1.5px solid black;
}
.panelLink {
  display: flex;
  flex-direction: column;
  color: black;
  font-family: 'Wahran-Light';
  font-weight: bolder;
  text-decoration: none;
  font-size: large;
  transition: all 0.15s;
}
.panelLink:hover {
  scale: 1.1;
  color: #55C7E6;
}
.panelLink:active {
  scale: 1.05;
}
@media (max-width: 1400px) {
  .sloganAr {
    font-size: 2.5rem;
  }
  .sloganEn {
    font-size: 0.9rem
  }
  .logo {
    width: 75%
  }
}
@media (max-width: 1200px) {
  .sloganAr {
    font-size: 2.2rem;
  }
  .sloganEn {
    font-size: 0.8rem
  }
  .logo {
    width: 75%
  }
}
@media (max-width: 992px) {
  .navbar {
    height: 400px;
  }
  .searchWrap {
    height: 35%;
  }
  .sloganAr {
    font-size: 2.8rem;
  }
  .sloganEn {
    font-size: 1rem
  }
  .logo {
    width: 60%
  }
  .panelLink {
    font-size: medium;
  }
}
@media (max-width: 576px) {
  body,html {
    width: 100dvw;
    overflow-x: hidden;
  }
  .searchWrap {
    height: 50%; 
  }
  .sloganAr {
    font-size: 2.2rem;
  }
  .sloganEn {
    font-size:0.8rem;
  }
  .logo {
    width: 30%;
  }
  .panels {
    height: 160px;
  }
  .panel {
    border-left: none !important;
    border-right: none !important;
    border-top: 0.5px solid black ;
    border-bottom: 0.5px solid black ;
  }
}
@media (max-width: 450px) {
  .navbar {
    height: 280px;
  }
  .searchImagesWrap {
    border-radius: 1.5rem;
  }
  .sloganAr {
    font-size: 1.5rem;
  }
  .sloganEn {
    font-size:0.55rem;
  }
  .logo {
    width: 25%;
  }
}
